/* Global */
body, p, ul, li, a {
  font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
}

/* Header styles */
.banner {
  background-color: #022a3d;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner img {
  max-width: 100%;
  max-height: 150px;
}

.banner h1 {
  font-size: 24px;
  color: white;
  margin: 0;
}

.by-line {
  /* Style the by-line text */
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-style: italic;
  margin-top: 10px; /* Add some space between the image and the by-line */
}

.site-main {
  padding: 20px;
}

/* Content styles */
.main-content {
  max-width: 800px;
  margin: auto;
}

.main-content h2 {
  padding-bottom: 5px;
}

.main-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-content ul li {
  padding: 10px;
}

.main-content a {
  text-decoration: none;
  color: #337ab7;
}

.main-content a:hover {
  color: #23527c;
}

.centered {
  text-align: center;
}