<!-- Noscript content for added SEO -->
<noscript><a href="https://www.eventbrite.com/e/denver-metro-jazzs-big-bug-holiday-spectacular-tickets-1994311897571" rel="noopener noreferrer" target="_blank">Buy Tickets on Eventbrite</a></noscript>
<!-- You can customize this button any way you like -->

<button id="eventbrite-widget-modal-trigger-1994311897571" type="button" class="buy-tickets-button">Buy Tickets Now!</button>

<br />
<br />

<img src="assets/images/big_bug_holiday_spectacular_poster.jpeg" alt="Big Bug Holiday Spectacular", class="big-bug-poster">

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '1994311897571',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-1994311897571',
        onOrderComplete: exampleCallback
    });
</script>

<style>
  .big-bug-poster {
    width: auto;
    max-width: 80%;
    height: auto;
    margin: 0 auto 1rem auto;
    display: block;
    border: none;
    background: none;
    border-radius: 16px;
  }
</style>
