<!-- Noscript content for added SEO -->
<noscript><a href="https://www.eventbrite.com/e/denver-metro-jazz-swing-into-spring-a-tribute-to-the-count-basie-orchestra-tickets-1850325797269" rel="noopener noreferrer" target="_blank">Buy Tickets on Eventbrite</a></noscript>
<!-- You can customize this button any way you like -->

<button id="eventbrite-widget-modal-trigger-1850325797269" type="button" class="buy-tickets-button">Buy Tickets Now!</button>

<br />
<br />

<img src="assets/images/swing_into_spring_poster.png" alt="Swing Into Spring", class="basie-poster">

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '1850325797269',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-1850325797269',
        onOrderComplete: exampleCallback
    });
</script>

<style>
  .basie-poster {
    width: auto;
    max-width: 80%;
    height: auto;
    margin: 0 auto 1rem auto;
    display: block;
    border: none;
    background: none;
    border-radius: 16px;
  }
</style>

